@model CustomerManagement.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">AppointmentDate</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">AppointmentHour</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentHour)
        </dd>    
    </dl>
</div>
<div>
    <a asp-controller="Customer" asp-action="DetailsAppointment" asp-route-appointmentId="@Model.AppointmentId">View Customer</a> |
    <a asp-controller="Service" asp-action="Details" asp-route-appointmentId="@Model.AppointmentId">View Service</a> |
    <a asp-controller="Employee" asp-action="Details" asp-route-appointmentId="@Model.AppointmentId">View Employee</a> |
    <a asp-controller="AppointmentStatus" asp-action="Details" asp-route-appointmentId="@Model.AppointmentId">View Appointment Status</a> |
    <a asp-action="Index">Back to List</a>
</div>
